#title {
    background-color: #000;
    /*background:-webkit-linear-gradient(bottom, #886600, #227700);*/
    color: #fff;
    text-align: center;
}

#title .container-fluid {
    padding: 3% 10% 0%;
}


a {
    color: blanchedalmond;
}

.filer {
    text-align: left;
}

.filter-c {
    padding-left: 0%;
    margin-top: 20px;
}

body {
    font-family: "Montserrat";
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-Bold";
}

h4 {
    color: blanchedalmond;
}

p {
    color: #8f8f8f;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 10px;
    width: 120px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}


/* Products images */


.rating .fa {
    color: #ff523b;
}

.p-image {
    width: 70%;
}


/*--------------------------------------*/


.wrap{
	background: #fefef6;
    margin: 0;
    padding: 0;
    max-width: 1400px;
	height: 1200px;
}
.logo{
	width: 200px;
	height: 150px;
	margin-right: 20px;
	
}
.logo img{
	width: 80%;
	height: 80%;
}
.containera{
    margin: 0 auto;
	height: 100%;
    width: 1900px;
}
.containerb{
    margin: 0 auto;
	height: 100%;
    width: 1400px;
}



/*footer*/

.footer{
	background: #000 repeat 50% 0;
	width: 100%;
	height: 90px;
}
.footer .containerb{
	display: flex;
	line-height: 90px;
}
.footer ul{
	list-style: none;
	justify-content: space-between;
	display: flex;
	width:90%;
	height: 90px;	float: left;
}
.footer ul li{
	width: 600px;
	line-height: 90px;
}
.footer ul li:last-child a{
	display: block;
	float: left;
	font-size: 14px;
	width: 80px;
	height: 90px;
}



/*contact form*/

.form{
	list-style: none;
	text-align: left;
	margin:0 auto;
	max-width: 700px;
}
.form li input{
	width: 610px;
	height: 40px;
	outline: none;
}
textarea{
	outline: none;
}

.form li p{
	line-height: 40px;
	height: 40px;
	margin-bottom: 0;
}

#wrap{
	display: flex;
}

#wrapleft{
	background: #fefef6;
    margin: 0;
    padding: 0;
	padding-top: 20px;
	width:50%;
}

#wrapright{
	background: #fefef6;
	margin: 0;
	padding: 0;
	width: 50%;
    height: 900px;
}
#wrapright>h1{
	margin-bottom: 8px;
	padding-top: 20px;
}
.information{
	list-style: none;
}
.information li{
	width: 600px;
	margin: 0 auto;
	display: flex;
	line-height: 20px;
	text-align: left;
	margin-bottom: 50px;
}
.information li i{
	display: inline-block;
	margin-right: 15px;
	font-size: 50px;
}
.information li div p{
	text-align: left;
	margin-bottom:10px;
	font-size: 30px;
	line-height: 30px;
}
.information li div{
	font-size: 25px;
}



/*map*/

#box{
    overflow: hidden;
    width: 100%;
    height: 400px;
    margin: 0;
    font-family: Times New Roman;
}


.cona{
	width: 100%;
	height: 1600px;
}

.wrapbox-top{
	width: 100%;
	height: 130px;
	background:	#2E8B57;
}
.wrapbox-top p{
	text-align: center;
	line-height: 130px;
	font-size: 50px;
	color: #fff;
}

.wrapbox-middle{
	text-align: center;
	list-style: none;
	width: 66%;
	margin:0 auto;
}
.wrapbox-middle img{
	text-align: center;
	list-style: none;
	width: 66%;
	margin:0 auto;
}

.wrapbox-bottom{
	text-align: left;
	list-style: none;
	width: 66%;
	margin:0 auto;
}
.wrapbox-bottom p{
	margin:0;
}
.wrapbox-bottom span{
	text-indent: 25px;
	display: inline-block;
	width: 66%;
	vertical-align: middle;
}
.wrapbox-bottom img{
	width: 200px;
	height: 150px;
	
}


.conb{
	width: 100%;
	height: 700px;
}

.formb{
	list-style: none;
	text-align: center;
	margin:0 auto;
	margin-top: 60px;
	padding:40px;
	height: 400px;
	max-width: 900px;
	background-color: #f7f7f7;
    border-radius: 3px;
}

.formb li{
	width: 90%;
	height: 85px;
}
.formb li p{
	margin-bottom: 10px;
	font-weight: bold;
	color: #000;
}
.un,.ps{
	background: #FDFDFD;
	margin-bottom: 10px;
	padding: 5px 15px;
	width: 640px;
	outline: none;
	border:2px solid #eee; 
	height: 40px;
}
.bottomboxa{
	display: center;
	height: 100%;
	padding-top: 20px;
	width: 730px;
	justify-content: space-between;
}
.bottomboxa p{
	height: 40px;
	line-height: 40px;
}
.bottomboxa p input{
	margin-right: 5px;
}
.bottomboxa button{
    font-weight: 700;
    color: #b65332;
	border: 0 solid #fcd170;
	outline:none;
    background-color: #fcd170;
    background: #fcd170;
	border-radius: 0;
    padding: 12px 18px;
    min-height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
	cursor: pointer;
}
.bottomboxa p:last-child{
	color: #b4b5bb;
	font-size: 14px;
	text-decoration: underline;
	font-weight: normal;
}

.conc {
	width: 100%;
	height: 100%;
}

#conca{
	height: 950px;
}
#caa{
	height: 730px;
}

#cab{
	height: 330px;
}


/*home page layout*/


.treepage{
    position: absolute;
    width:100%;
    height:1200px;
}
 
.treepage-bg{
    position: absolute;
    height:100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
 
#treepagebg{
    background-image: url("../Images-Branding/bg.jpg");
}
 
.treepagecontent{
    width:100%;
    margin:0 auto;
    text-align: center;
}
 
.treepagetext{
    margin-top:50px;
    color:#00CC00;
}
 
.treepagetext p{
    margin-top:20px;
    color:#000;
    font-size:20px;
    line-height:10px;
}
 
.treepagebtn{
margin-top:700px;
font-size:25px;
}


/*rotating cube */


.cube {
  width: 250px;
  height: 250px;
  transform-style: preserve-3d;
  transform-origin: 125px 125px 0;
  animation: rotate-cube 10s ease-in-out infinite;
}

.cube > div {
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
  position: absolute;
  box-shadow: inset 0 0 4px 2px rgba(106, 106, 106, 0.4);
}

.cube .img1 {
  background-image: url("../Images-Products/flowers/daisy/54377391_15648e8d18.jpg");
  transform: rotateY(0deg) translateZ(125px);
}

.cube .img2 {
  background-image: url("../Images-Products/flowers/dandelion/5600240736_4a90c10579_n.jpg");
  transform: rotateY(90deg) translateZ(125px);
}

.cube .img3 {
  background-image: url("../Images-Products/flowers/mix/baby-blue-eyes.jpg");
  transform: rotateY(-90deg) translateZ(125px);
}

.cube .img4 {
  background-image: url("../Images-Products/flowers/mix/gailardia-nadobna.jpg");
  transform: rotateX(90deg) translateZ(125px);
}

.cube .img5 {
  background-image: url("../Images-Products/flowers/mix/oriental-lily.jpg");
  transform: rotateX(-90deg) translateZ(125px);
}

.cube .img6 {
  background-image: url("../Images-Products/flowers/mix/yellow-marigold.jpg");
  transform: rotateY(180deg) translateZ(125px);
}

@keyframes rotate-cube {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  20% {

    transform: rotateY(-90deg);
  }
  40% {

    transform: rotateX(-90deg);
  }
  60% {

    transform: rotateY(90deg);
  }
  80% {

    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
}